
@import "./../../assets/config.sass"

.edit
	flex: 1

	&__inner
		padding: 0 15px
		position: relative

		@include tablet-desktop
			max-width: 50%

	&__title
		//

	&__actions
		margin-top: 1em
		display: flex
		align-items: center
		justify-content: center

		&__block
			flex: 1
			display: flex
			align-items: center
			justify-content: center

	&__info
		margin-top: .5em
		min-height: 31px
		display: flex
		position: relative
		align-items: center
		justify-content: flex-start

